.section-wrapper {
  display: block;
  position: static;

  font-size: 1.0rem;

  z-index: 101;
}

.section-container {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 2px;
  list-style: none;
}

.section-link {
  display: inline;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  padding: 0px 5px;
}
