<nav class="section-wrapper" [attr.aria-label]="'app.section.navLabel' | translate">
  <ul class="section-container">
    @for (section of otherSections(); track section) {
      <li>
        <a class="section-link"
          [routerLink]="sectionRoutes[section]"
          [attr.data-testid]="'section-switcher.'+section"
          [attr.aria-label]="'app.section.name.'+section | translate"
          [title]="'app.section.name.'+section | translate">
          {{ 'app.section.icon.'+section | translate }}
        </a>
      </li>
    }
  </ul>
</nav>
