/* CSS classes for forms. */

/*** PANELS ***/

.panel-wide {
  width: 100%;
  margin: 0 auto;
  padding: var(--form-padding);

  background: var(--form-background);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.panel-semiwide {
  min-width: 50%;
  margin: 0 auto;
  padding: var(--form-padding);

  background: var(--form-background);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

/*** FORMS ***/

.form-alone {
  min-width: var(--form-alone-min-width);
  max-width: var(--form-alone-max-width);
  margin: var(--form-alone-margin);
  padding: var(--form-alone-padding);
}

/*** SUBFORMS ***/

.form-subform-double {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.3rem;

  align-items: center;
  justify-content: center;
  justify-items: stretch;

  margin-bottom: 6px;

  white-space: nowrap;
}

.form-subform-triple {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 0.3rem;

  align-items: center;
  justify-content: center;
  justify-items: stretch;

  margin-bottom: 6px;

  white-space: nowrap;
}
