.checkbox-wrapper {
  display: flex-start;
  align-items: left;
  justify-content: left;
  position: relative;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--checkbox-color);
  background: var(--checkbox-background);
  border: var(--checkbox-border);
  border-radius: var(--checkbox-border-radius);

  width: 1em;
  height: 1em;

  cursor: pointer;
  user-select: none;
}

.checkbox.invalid {
  color: var(--checkbox-err-color);
  background: var(--checkbox-err-background);
  border: var(--checkbox-err-border);
}

.checkbox:not(.disabled):hover {
  color: var(--checkbox-hover-color);
  background-color: var(--checkbox-hover-background);
}

.checkbox.disabled {
  color: var(--checkbox-disabled-color);
  background: var(--checkbox-disabled-background);
  border: var(--checkbox-border); /* Override in case both err and disabled are present. */

  cursor: default;
}

/**/

.checkbox-inside {
  line-height: 1;
  transform: translateY(-0.075em);
}
